.navbar {
    background-color: rgb(159, 228, 228);
}

.quemsomos {
    background-color: rgba(79, 235, 183, 0.329);
}

.margin {
    padding-top: 20px;
    padding-bottom: 20px;
}

.parceiros {
    background-color: rgba(110, 228, 116, 0.329)
}

.servicos {
    background-color: rgba(220, 228, 110, 0.329)
}
